@use "/src/scss/index.scss" as *;

.Form {
  @include flex(row,nowrap, center, center);
  gap: 1.25rem;
  font-size: 0.875rem;
  &-input {
    border-bottom: 1px solid $white;
    outline: none;
    color: $white;

    &::placeholder {
      font-size: 0.875rem;
      color: $white;
      padding: 0 5px;
    }
  }

  &-button {
    font-size: 0.875rem;
    padding: 10px;
    cursor: pointer;
  }
}
