$body-bg: #0f0f0f;
$main-color: #ff0000;
$header: #db5715cb;
$white: #fff;
$blue: #0069d9;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;


$font-family: "Montserrat", sans-serif;
