@mixin flex($dir, $wrap, $just, $align) {
  display: flex;
  flex-flow: $dir $wrap;
  justify-content: $just;
  align-items: $align;
}

@mixin media($medida: 75rem) {
  @media screen and (max-width: $medida) {
    @content;
  }
}

@mixin tablet($medida: 64rem) {
  @media only screen and (max-width: $medida) {
      @content;
  }
}

@mixin mobile($medida: 37.5rem) {
  @media only screen and (max-width: $medida) {
      @content;
  }
}

